<div class="container" >
    <h5>Crud de Producto</h5>

    <div class="col-md-23" style="margin-top: 3%">


        <div class="row" style="height: 80px">
            <div class="col-md-4">
                <input [(ngModel)] = "filtro"  class="form-control"  id="id_txt_filtro" name="filtro" placeholder="Ingrese el nombre del producto" type="text" maxlength="45" />
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" id="id_btn_filtrar" style="width: 150px" (click)="consulta()">Filtrar</button>
            </div>
            <div class="col-md-2">
                <button  type="button" data-toggle='modal' data-target="#idModalRegistrar" class='btn btn-success' style="width: 150px">Registrar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="content">

                    <table id="id_table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 3.5%">#</th>
                                <th style="width: 11%">Nombre</th>
                                <th style="width: 13.5%">Serie</th>
                                <th style="width: 5%">Durabilidad</th>
                                <th style="width: 4%">Precio</th>
                                <th style="width: 4%">Stock</th>
                                <th style="width: 7%">Marca</th>
                                <th style="width: 10%">Pais</th>
                                <th style="width: 7%">Estado</th>
                                <th style="width: 7%"></th>
                                <th style="width: 7%"></th>
                                <th style="width: 7%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aux of productos">
                                <td>{{ aux.idProducto }}</td>
                                <td>{{ aux.nombre }}</td>
                                <td>{{ aux.serie }}</td>
                                <td>{{ aux.durabilidad}}</td>
                                <td>{{ aux.precio}}</td>
                                <td>{{ aux.stock}}</td>
                                <td>{{ aux.marca!.nombre }}</td>
                                <td>{{ aux.pais!.nombre }}</td>
                                <td>{{ aux.estado == 1 ? "Activo" : "Inactivo"}}</td>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="idEstado_{{ aux.idProducto}" [checked]="aux.estado==1?true:false" name="estado" (change)="actualizaEstado(aux)"/>         
                                        <label class="custom-control-label" for="idEstado_{{ aux.idProducto}"></label>
                                    </div>    
                                </td>
                                <td><button type="button" style="width: 90px" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#idModalActualizar" (click)="busca(aux)" >Editar</button></td>
                                <td><button type="button" style="width: 90px" class="btn btn-danger btn-sm"  (click)="elimina(aux)" >Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade"  id="idModalRegistrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" style="max-width: 70%;">
            <div class="modal-content" >

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registro de Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form class="content" [formGroup]="forms" (ngSubmit)="registra()">
                        <div class="submit-form">
                            
                                <div  class="row">
                                    <div class="col-lg-4">
                                        <label for="id_reg_nombre">Nombre de producto</label>
                                        <input formControlName="validaNombre" [(ngModel)]="producto.nombre" type="text" placeholder="Ingrese el nombre del producto" class="form-control" name="nombre" id="id_reg_nombre" />
                                        <div *ngIf="submitted && forms.controls['validaNombre'].errors" class="invalid">       
                                            <ul>
                                                <li>El nombre del produco es obligatorio</li>                                                                 
                                            </ul>
                                        </div>
                                        <div *ngIf="submitted && forms.controls['validaNombre'].errors?.['pattern']" class="invalid">       
                                            <ul>
                                                <li>El nombre debe tener como minimo 3 y maximo 45 caracteres</li>                                                                 
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        <label for="id_reg_serie">Serie</label>
                                        <input formControlName="validaSerie" [(ngModel)]="producto.serie"  type="text" placeholder="Ingrese una SERIE" class="form-control" name="serie" id="id_reg_SERIE"  maxlength="45"/>
                                        <div *ngIf="submitted && forms.controls['validaSerie'].errors" class="invalid">       
                                            <ul>
                                                <li>La serie es obligatorio</li>                                                                 
                                            </ul>
                                        </div>
                                        <div *ngIf="submitted && forms.controls['validaSerie'].errors?.['pattern']" class="invalid">       
                                            <ul>
                                                <li>La serie debe tener maximo 45 caracteres alfanumericos</li>                                                                 
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="col-lg-3">
                                        <label for="id_reg_durabilidad">Durabilidad</label>
                                        <input formControlName="validaDurabilidad" [(ngModel)]="producto.durabilidad" type="text" placeholder="Ingrese durabilidad" class="form-control" name="durabilidad" id="id_reg_durabilidad" />
                                        <div *ngIf="submitted && forms.controls['validaDurabilidad'].errors" class="invalid">       
                                            <ul>
                                                <li>La durabilidad es obligatorio</li>                                                                 
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <label for="id_reg_precio">Precio</label>
                                        <input formControlName="validaPrecio" [(ngModel)]="producto.precio"  type="text" placeholder="Ingrese precio del producto" class="form-control" name="precio" id="id_reg_precio" />
                                        <div *ngIf="submitted && forms.controls['validaPrecio'].errors" class="invalid">       
                                            <ul>
                                                <li>El precio es obligatorio</li>                                                                 
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <label for="id_reg_stock">Stock</label>
                                        <input formControlName="validaStock" [(ngModel)]="producto.stock" type="text" placeholder="Ingrese stock del producto" class="form-control" name="stock" id="id_reg_stock" />
                                        <div *ngIf="submitted && forms.controls['validaStock'].errors" class="invalid">       
                                            <ul>
                                                <li>El stock es obligatorio</li>                                                                 
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                

                                <div class="row" style="margin-top: 5%">
                                    
                                    <div class="col-lg-4">
                                        <label for="id_reg_marca">Marca</label>
                                        <select formControlName="validaMarca" [(ngModel)]="producto.marca!.idMarca"   id="id_reg_marca" name="marca" class="form-control">
                                            <option value="-1"> [Seleccione] </option>
                                            <option *ngFor="let aux of marcas" value="{{ aux.idMarca }}"> 
                                                        {{ aux.nombre }}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && forms.controls['validaMarca'].errors" class="invalid">
                                            <ul>
                                                <li> La marca es obligatorio</li>    
                                            </ul>
                                         </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <label  for="id_reg_pais">Pais</label>
                                        <select formControlName="validaPais" [(ngModel)]="producto.pais!.idPais"   id="id_reg_pais" name="pais" class="form-control" >
                                            <option value="-1"> [Seleccione] </option>
                                             <option *ngFor="let aux of  paises" value="{{ aux.idPais }}"> 
                                                        {{ aux.nombre }}
                                             </option>
                                        </select>
                                        <div *ngIf="submitted && forms.controls['validaPais'].errors" class="invalid">
                                            <ul>
                                                <li>El pais es obligatorio</li>    
                                            </ul>
                                         </div>
                                    </div>
                                
                                </div>

                        </div> 

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_reg_cerrar" style="width: 100px;">Cerrar</button>
                            <div class="form-group text-center">
                                <div class="col-lg-12">
                                    <button id="id_reg_registra" [disabled]="submitted && forms.invalid" class="btn btn-success form-control"style="width: 100px;">Registrar</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="idModalActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualización de Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <div class="modal-body">

                    <form class="content" [formGroup]="forms" (ngSubmit)="actualiza()">
                        <div class="submit-form">

                            <div  class="row">
                                <div class="col-lg-4">
                                    <label for="id_reg_nombre">Nombre</label>
                                        <input formControlName="validaNombre" [(ngModel)]="producto.nombre" type="text" placeholder="Ingrese el nombre" class="form-control" name="nombre" id="id_reg_nombre" />
                                        <div *ngIf="submitted && forms2.controls['validaNombre'].errors" class="invalid">       
                                            <ul>
                                                <li>El nombre es obligatorio</li>                                                                 
                                            </ul>
                                        </div>
                                        <div *ngIf="submitted && forms2.controls['validaNombre'].errors?.['pattern']" class="invalid">       
                                            <ul>
                                                <li>El nombre debe tener como minimo 3 y maximo 45 caracteres</li>                                                                 
                                            </ul>
                                    </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <label for="id_reg_serie">Serie</label>
                                        <input formControlName="validaSerie" [(ngModel)]="producto.serie"  type="text" placeholder="Ingresa una serie" class="form-control" name="serie" id="id_reg_SERIE"  />
                                        <div *ngIf="submitted && forms2.controls['validaSerie'].errors" class="invalid">       
                                            <ul>
                                                <li>La serie es obligatorio</li>                                                                 
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="col-lg-3">
                                        <label for="id_reg_durabilidad">Durabilidad</label>
                                        <input formControlName="validaDurabilidad" [(ngModel)]="producto.durabilidad" type="text" placeholder="Ingrese la durabilidad" class="form-control" name="durabilidad" id="id_reg_durabilidad" />
                                        <div *ngIf="submitted && forms2.controls['validaDurabilidad'].errors" class="invalid">       
                                            <ul>
                                                <li>La durabilidad es obligatorio</li>                                                                 
                                            </ul>
                                        </div>

                                    </div>

                                    <div class="col-lg-4">
                                        <label for="id_reg_precio">Precio</label>
                                        <input formControlName="validaTelefono" [(ngModel)]="producto.precio"  type="text" placeholder="Ingrese precio del producto" class="form-control" name="precio" id="id_reg_precio" />
                                        <div *ngIf="submitted && forms2.controls['validaPrecio'].errors" class="invalid">       
                                            <ul>
                                                <li>El precio es obligatorio</li>                                                                 
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <label for="id_reg_stock">Stock</label>
                                        <input formControlName="validaStock" [(ngModel)]="producto.stock" type="text" placeholder="Ingrese stock del producto" class="form-control" name="stock" id="id_reg_stock" />
                                        <div *ngIf="submitted && forms2.controls['validaStock'].errors" class="invalid">       
                                            <ul>
                                                <li>El stock es obligatorio</li>                                                                 
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 5%">
                                    
                                    <div class="col-lg-4">
                                        <label for="id_reg_marca">Marca</label>
                                        <select formControlName="validaMarca" [(ngModel)]="producto.marca!.idMarca"   id="id_reg_marca" name="marca" class="form-control">
                                            <option value="-1"> [Seleccione] </option>
                                            <option *ngFor="let aux of marcas" value="{{ aux.idMarca }}"> 
                                                        {{ aux.nombre }}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && forms2.controls['validaMarca'].errors" class="invalid">
                                            <ul>
                                                <li> La marca es obligatorio</li>    
                                            </ul>
                                         </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <label  for="id_reg_pais">Pais</label>
                                        <select formControlName="validaPais" [(ngModel)]="producto.pais!.idPais"   id="id_reg_pais" name="pais" class="form-control" >
                                            <option value="-1"> [Seleccione] </option>
                                             <option *ngFor="let aux of  paises" value="{{ aux.idPais }}"> 
                                                        {{ aux.nombre }}
                                             </option>
                                        </select>
                                        <div *ngIf="submitted && forms2.controls['validaPais'].errors" class="invalid">
                                            <ul>
                                                <li>El pais es obligatorio</li>    
                                            </ul>
                                         </div>
                                    </div>

                            </div> 



                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_act_cerrar">Cerrar</button>
                            <div class="form-group text-center">
                                <div class="col-lg-12">
                                    <button id="id_act_actualiza" [disabled]="submitted && forms2.invalid" class="btn btn-success form-control">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>





                </div>

            </div>
        </div>
    </div>
</div>