<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DSW2 - Ciberpycker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Registros
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraPartesPc" class="dropdown-item">Registro Partes de PC</a>
            <a routerLink="registraProgramas" class="dropdown-item">Registro de Programas</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-expanded="false">
            Mantenimientos (List, Edicion & Delete)
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="mantenimientoPartesPc" class="dropdown-item">Partes de PC</a>
            <a routerLink="mantenimientoProgramas" class="dropdown-item">Programas</a>
          </div>
        </li>

      </ul>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>