<div>

    <form class="content" (ngSubmit)="registraSede()"  >
    <div class="submit-form" >
  
         <div class="row">
            <div class="col-lg-12">
                <h6>Registro de Proveedor </h6>
            </div>
        </div>
  
        <div class="row" style="margin-top: 3%">
                <div class="col-lg-9">
                    <label for="nombre">Nombre Sede</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)] ="sede.nombre"  />
                </div>
            
                <div class="col-lg-9">
                    <label for="direccion">Direccion Sede</label>
                    <input type="text" class="form-control" name="direccion" id="direccion"  [(ngModel)] ="sede.direccion" />
                </div>

                <div class="col-lg-3">
                    <label for="telefono">Codigo Postal</label>
                    <input type="text" class="form-control" name="codigoPostal" id="codigoPostal" maxlength="7" [(ngModel)] ="sede.codigoPostal"   />
                </div>

                <div class="col-lg-3">
                    <label for="telefono">Estado</label>
                    <input type="text" class="form-control" name="estado" id="estado" maxlength="7" [(ngModel)] ="sede.estado"   />
                </div>

         </div>
  
        <div class="row" style="margin-top: 3%">

            <div class="col-lg-4">
                <label for="departamento">Pais</label>
                <select  id="departamento" name="pais" class="form-control"  [(ngModel)] = "sede.pais!.idPais">
                    <option value="-1"> [Seleccione] </option>   
                    <option *ngFor="let aux of paises" value="{{aux.idPais}}">
                        {{aux.nombre}}
                    </option>   
                </select>
            </div>


        </div>
  
        <div class="row" style="margin-top: 3%"> 
                <div class="col-lg-12">
                    <button class="btn btn-success"  >Enviar</button>
                </div>
        </div>
  
    
      </div>
  
     </form>
